#logo {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#searchbar_buttons {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#searchbox {
	width: 600px;
    height: 35px;
}